In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('employees.csv', parse_dates = ['Start Date', 'Last Login Time'])
df['Senior Management'] = df['Senior Management'].astype('bool')
df['Gender'] = df['Gender'].astype('category')
df.head(3)

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
0,Douglas,Male,1993-08-06,2022-03-03 12:42:00,97308,6.945,True,Marketing
1,Thomas,Male,1996-03-31,2022-03-03 06:53:00,61933,4.170,True,NaN
2,Maria,Female,1993-04-23,2022-03-03 11:17:00,130590,11.858,False,Finance

In [7]:
condition1 = df['Gender'] == 'Male'

condition2 = df['Team'] == 'Marketing'

df[condition1 & condition2]

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
0,Douglas,Male,1993-08-06,2022-03-03 12:42:00,97308,6.945,True,Marketing
21,Matthew,Male,1995-09-05,2022-03-03 02:12:00,100612,13.645,False,Marketing
26,Craig,Male,2000-02-27,2022-03-03 07:45:00,37598,7.757,True,Marketing
74,Thomas,Male,1995-06-04,2022-03-03 14:24:00,62096,17.029,False,Marketing
77,Charles,Male,2004-09-14,2022-03-03 20:13:00,107391,1.260,True,Marketing
101,Aaron,Male,2012-02-17,2022-03-03 10:20:00,61602,11.849,True,Marketing
104,John,Male,1989-12-23,2022-03-03 07:01:00,80740,19.305,False,Marketing
112,Willie,Male,2003-11-27,2022-03-03 06:21:00,64363,4.023,False,Marketing
119,Paul,Male,2008-06-03,2022-03-03 15:05:00,41054,12.299,False,Marketing
150,Sean,Male,1996-05-04,2022-03-03 20:59:00,135490,19.934,False,Marketing
187,Roger,Male,2004-11-19,2022-03-03 15:55:00,51430,6.460,False,Marketing
204,Willie,Male,2006-06-06,2022-03-03 09:45:00,55281,4.935,True,Marketing
216,Matthew,Male,2013-07-31,2022-03-03 08:04:00,142373,2.462,False,Marketing
252,Ralph,Male,2004-11-11,2022-03-03 01:35:00,71896,4.232,True,Marketing
274,Howard,Male,1982-10-05,2022-03-03 07:22:00,97490,5.460,True,Marketing
293,Jesse,Male,1999-10-25,2022-03-03 15:35:00,118733,9.653,False,Marketing
309,Benjamin,Male,1984-09-11,2022-03-03 06:37:00,84810,15.794,False,Marketing
327,Aaron,Male,1994-01-29,2022-03-03 18:48:00,58755,5.097,True,Marketing
353,NaN,Male,1997-04-22,2022-03-03 21:36:00,65078,3.095,True,Marketing
403,Craig,Male,1984-02-08,2022-03-03 04:45:00,113506,19.642,False,Marketing
413,Johnny,Male,1992-09-14,2022-03-03 08:21:00,115194,5.861,True,Marketing
452,Scott,Male,2012-11-17,2022-03-03 14:47:00,146812,1.965,True,Marketing
454,NaN,Male,1995-02-21,2022-03-03 00:26:00,136602,10.429,True,Marketing
461,Jeremy,Male,2001-08-09,2022-03-03 03:56:00,43354,13.946,False,Marketing
464,Lawrence,Male,2005-05-13,2022-03-03 01:25:00,74640,18.641,False,Marketing
484,Joe,Male,2000-04-14,2022-03-03 15:14:00,50645,11.119,False,Marketing
496,Johnny,Male,2016-02-26,2022-03-03 19:39:00,76394,5.437,True,Marketing
503,Roger,Male,2015-08-03,2022-03-03 16:56:00,125033,4.887,True,Marketing
544,Roger,Male,2010-07-03,2022-03-03 17:11:00,105689,13.320,True,Marketing
550,Gregory,Male,1984-06-18,2022-03-03 03:46:00,82726,16.304,True,Marketing
556,Arthur,Male,2014-12-16,2022-03-03 16:56:00,66819,6.639,True,Marketing
571,Jonathan,Male,1995-04-06,2022-03-03 22:38:00,56993,18.623,False,Marketing
581,Ernest,Male,1990-01-28,2022-03-03 00:08:00,81919,15.118,False,Marketing
696,Samuel,Male,2012-05-25,2022-03-03 16:40:00,85550,11.593,True,Marketing
722,Joshua,Male,1997-06-27,2022-03-03 15:23:00,95003,5.197,True,Marketing
798,Lawrence,Male,1984-10-01,2022-03-03 14:06:00,102589,17.952,True,Marketing
860,Phillip,Male,1984-10-07,2022-03-03 11:05:00,36837,14.660,False,Marketing
867,Earl,Male,2013-06-15,2022-03-03 03:00:00,48046,7.737,False,Marketing
899,Walter,Male,1992-05-21,2022-03-03 00:39:00,144701,16.323,True,Marketing
947,NaN,Male,2012-07-30,2022-03-03 15:07:00,107351,5.329,True,Marketing
994,George,Male,2013-06-21,2022-03-03 17:47:00,98874,4.479,True,Marketing