In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('employees.csv', parse_dates = ['Start Date', 'Last Login Time'])
df['Senior Management'] = df['Senior Management'].astype('bool')
df['Gender'] = df['Gender'].astype('category')
df.head(3)

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
0,Douglas,Male,1993-08-06,2022-03-03 12:42:00,97308,6.945,True,Marketing
1,Thomas,Male,1996-03-31,2022-03-03 06:53:00,61933,4.170,True,NaN
2,Maria,Female,1993-04-23,2022-03-03 11:17:00,130590,11.858,False,Finance

In [5]:
condition1 = df['Team'].isnull()

df[condition1]

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
1,Thomas,Male,1996-03-31,2022-03-03 06:53:00,61933,4.170,True,NaN
10,Louise,Female,1980-08-12,2022-03-03 09:01:00,63241,15.132,True,NaN
23,NaN,Male,2012-06-14,2022-03-03 16:19:00,125792,5.042,True,NaN
32,NaN,Male,1998-08-21,2022-03-03 14:27:00,122340,6.417,True,NaN
91,James,NaN,2005-01-26,2022-03-03 23:00:00,128771,8.309,False,NaN
109,Christopher,Male,2000-04-22,2022-03-03 10:15:00,37919,11.449,False,NaN
139,NaN,Female,1990-10-03,2022-03-03 01:08:00,132373,10.527,True,NaN
199,Jonathan,Male,2009-07-17,2022-03-03 08:15:00,130581,16.736,True,NaN
258,Michael,Male,2002-01-24,2022-03-03 03:04:00,43586,12.659,False,NaN
290,Jeremy,Male,1988-06-14,2022-03-03 18:20:00,129460,13.657,True,NaN
314,Bobby,Male,1996-03-31,2022-03-03 17:40:00,112117,6.338,False,NaN
367,Edward,Male,1989-08-04,2022-03-03 06:06:00,66067,10.957,True,NaN
382,NaN,Female,1996-04-18,2022-03-03 15:57:00,107024,12.182,True,NaN
434,Joyce,Female,1995-02-07,2022-03-03 07:38:00,50701,14.227,True,NaN
438,Jason,Male,1998-11-20,2022-03-03 14:54:00,69244,6.220,True,NaN
445,Chris,Male,2006-12-12,2022-03-03 01:57:00,71642,1.496,False,NaN
479,Richard,Male,1997-07-04,2022-03-03 11:47:00,47647,18.787,True,NaN
512,Wanda,Female,1993-04-06,2022-03-03 03:11:00,78883,19.695,False,NaN
513,Jimmy,Male,2013-11-19,2022-03-03 19:29:00,63549,19.624,False,NaN
520,Peter,Male,2003-02-22,2022-03-03 09:09:00,56580,8.411,True,NaN
567,NaN,Female,1980-04-01,2022-03-03 20:04:00,48141,12.605,True,NaN
573,Kimberly,Female,1981-12-30,2022-03-03 04:51:00,81800,5.435,True,NaN
580,Harry,Male,1985-01-27,2022-03-03 20:18:00,65482,18.089,False,NaN
626,NaN,Female,1997-04-13,2022-03-03 08:03:00,131755,2.930,True,NaN
634,Carl,Male,1987-03-30,2022-03-03 17:59:00,75598,19.289,False,NaN
635,Randy,Male,2000-09-27,2022-03-03 03:04:00,89831,13.047,True,NaN
647,Donald,Male,1988-04-06,2022-03-03 10:00:00,122920,5.320,False,NaN
669,Joseph,NaN,1982-03-28,2022-03-03 13:05:00,86564,11.879,True,NaN
684,Alice,Female,2016-01-21,2022-03-03 17:07:00,117787,10.485,False,NaN
706,Todd,Male,1993-07-04,2022-03-03 18:53:00,128175,18.473,True,NaN
726,Daniel,Male,2016-02-29,2022-03-03 04:04:00,77287,13.000,True,NaN
753,Antonio,Male,1999-06-06,2022-03-03 22:54:00,41928,5.478,True,NaN
774,NaN,Female,2000-06-18,2022-03-03 07:36:00,106428,10.867,True,NaN
781,Lawrence,Male,1995-07-03,2022-03-03 22:55:00,46378,9.127,False,NaN
794,Nicole,Female,2004-03-01,2022-03-03 17:17:00,44021,10.286,False,NaN
826,NaN,NaN,1988-08-01,2022-03-03 01:35:00,87103,5.665,True,NaN
850,Charles,Male,1997-09-03,2022-03-03 10:04:00,148291,6.002,False,NaN
851,Bobby,Male,1996-08-19,2022-03-03 01:16:00,147842,16.158,True,NaN
853,Mildred,Female,2007-04-06,2022-03-03 22:06:00,139284,11.390,True,NaN
855,Phillip,NaN,2003-10-20,2022-03-03 11:09:00,89700,2.277,True,NaN
864,Ryan,Male,2012-11-16,2022-03-03 13:47:00,57292,6.010,False,NaN
912,Joe,Male,1998-12-08,2022-03-03 10:28:00,126120,1.020,False,NaN
951,NaN,Female,2010-09-14,2022-03-03 05:19:00,143638,9.662,True,NaN

In [10]:
condition2 = df['Gender'].notnull()
df[condition2 & condition1]

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
1,Thomas,Male,1996-03-31,2022-03-03 06:53:00,61933,4.170,True,NaN
10,Louise,Female,1980-08-12,2022-03-03 09:01:00,63241,15.132,True,NaN
23,NaN,Male,2012-06-14,2022-03-03 16:19:00,125792,5.042,True,NaN
32,NaN,Male,1998-08-21,2022-03-03 14:27:00,122340,6.417,True,NaN
109,Christopher,Male,2000-04-22,2022-03-03 10:15:00,37919,11.449,False,NaN
139,NaN,Female,1990-10-03,2022-03-03 01:08:00,132373,10.527,True,NaN
199,Jonathan,Male,2009-07-17,2022-03-03 08:15:00,130581,16.736,True,NaN
258,Michael,Male,2002-01-24,2022-03-03 03:04:00,43586,12.659,False,NaN
290,Jeremy,Male,1988-06-14,2022-03-03 18:20:00,129460,13.657,True,NaN
314,Bobby,Male,1996-03-31,2022-03-03 17:40:00,112117,6.338,False,NaN
367,Edward,Male,1989-08-04,2022-03-03 06:06:00,66067,10.957,True,NaN
382,NaN,Female,1996-04-18,2022-03-03 15:57:00,107024,12.182,True,NaN
434,Joyce,Female,1995-02-07,2022-03-03 07:38:00,50701,14.227,True,NaN
438,Jason,Male,1998-11-20,2022-03-03 14:54:00,69244,6.220,True,NaN
445,Chris,Male,2006-12-12,2022-03-03 01:57:00,71642,1.496,False,NaN
479,Richard,Male,1997-07-04,2022-03-03 11:47:00,47647,18.787,True,NaN
512,Wanda,Female,1993-04-06,2022-03-03 03:11:00,78883,19.695,False,NaN
513,Jimmy,Male,2013-11-19,2022-03-03 19:29:00,63549,19.624,False,NaN
520,Peter,Male,2003-02-22,2022-03-03 09:09:00,56580,8.411,True,NaN
567,NaN,Female,1980-04-01,2022-03-03 20:04:00,48141,12.605,True,NaN
573,Kimberly,Female,1981-12-30,2022-03-03 04:51:00,81800,5.435,True,NaN
580,Harry,Male,1985-01-27,2022-03-03 20:18:00,65482,18.089,False,NaN
626,NaN,Female,1997-04-13,2022-03-03 08:03:00,131755,2.930,True,NaN
634,Carl,Male,1987-03-30,2022-03-03 17:59:00,75598,19.289,False,NaN
635,Randy,Male,2000-09-27,2022-03-03 03:04:00,89831,13.047,True,NaN
647,Donald,Male,1988-04-06,2022-03-03 10:00:00,122920,5.320,False,NaN
684,Alice,Female,2016-01-21,2022-03-03 17:07:00,117787,10.485,False,NaN
706,Todd,Male,1993-07-04,2022-03-03 18:53:00,128175,18.473,True,NaN
726,Daniel,Male,2016-02-29,2022-03-03 04:04:00,77287,13.000,True,NaN
753,Antonio,Male,1999-06-06,2022-03-03 22:54:00,41928,5.478,True,NaN
774,NaN,Female,2000-06-18,2022-03-03 07:36:00,106428,10.867,True,NaN
781,Lawrence,Male,1995-07-03,2022-03-03 22:55:00,46378,9.127,False,NaN
794,Nicole,Female,2004-03-01,2022-03-03 17:17:00,44021,10.286,False,NaN
850,Charles,Male,1997-09-03,2022-03-03 10:04:00,148291,6.002,False,NaN
851,Bobby,Male,1996-08-19,2022-03-03 01:16:00,147842,16.158,True,NaN
853,Mildred,Female,2007-04-06,2022-03-03 22:06:00,139284,11.390,True,NaN
864,Ryan,Male,2012-11-16,2022-03-03 13:47:00,57292,6.010,False,NaN
912,Joe,Male,1998-12-08,2022-03-03 10:28:00,126120,1.020,False,NaN
951,NaN,Female,2010-09-14,2022-03-03 05:19:00,143638,9.662,True,NaN