In [1]:
import pandas as pd

In [2]:
bond = pd.read_csv('jamesbond.csv', index_col = 'Film')
bond.sort_index(inplace = True)
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [4]:
bond.loc['Dr. No', 'Actor'] = 'Sir Sean Connery'

In [5]:
bond.loc['Dr. No']

Year                             1962
Actor                Sir Sean Connery
Director                Terence Young
Box Office                      448.8
Budget                            7.0
Bond Actor Salary                 0.6
Name: Dr. No, dtype: object

In [7]:
bond.loc['Dr. No', ['Box Office', 'Budget', 'Bond Actor Salary']] = [448000000, 7000000, 600000]

In [8]:
bond.loc['Dr. No']

Year                             1962
Actor                Sir Sean Connery
Director                Terence Young
Box Office                448000000.0
Budget                      7000000.0
Bond Actor Salary            600000.0
Name: Dr. No, dtype: object